.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
ebin

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
rebar.lock
.rebar
rebar/*
.rebar/*
rebar3.crashdump

# Emacs
*~
\#*\#
.\#*
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp

# AI
.claude

# Misc
.DS_Store
_integration
.env
.envrc
