{erl_opts, [debug_info]}.

{deps, [
    {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}},
    {ltest, {git, "http://github.com/lfex/ltest", {branch, "release/0.11.x"}}},
    {proper, {git, "https://github.com/proper-testing/proper", {tag, "v1.3"}}}

]}.

{plugins, [
    {rebar3_proper, {git, "https://github.com/ferd/rebar3_proper", {tag, "0.12.0"}}}
]}.

{xref_checks,[
    undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls,deprecated_functions
]}.

{profiles, [
    {dev, [
        %%{deps, [
        %%  {rebar3, {git, "https://github.com/erlang/rebar3.git", {branch, "master"}}}
        %%]}
    ]}
]}.
