{erl_opts, [debug_info]}.

{deps, [
  {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}},
  {ltest, {git, "http://github.com/lfex/ltest", {branch, "master"}}}
]}.

{profiles, [
  {dev, [
    % {deps, [
    %   {rebar3, {git, "https://github.com/erlang/rebar3.git", {branch, "master"}}}
    % ]}
  ]}
]}.
