{description, "Single LFE gen_statem (handle event) template"}.
{variables, [
    {name, "my-lfe-statem", "Name of the LFE gen_statem"}
]}.

{template, "statem-handle-event.lfe.tpl", "./src/{{name}}.lfe"}.
